#smob-wrapper{
	max-width: 100%;
	margin:0 auto;
	height: 100vh;
	position: relative;
}

.smob-landing{
	width: 100%;
	height: 100vh;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	text-align: center;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}

.smob-landing .landing-conts{
	position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.smob-landing .landing-conts > img{
	width: 60%;
	height: 55%;
}

.smob-landing .landing-conts .smob-burger{
	display: block;
	margin-top: 30px;
}

.smob-menu{
	width: 100%;
	height: 100%;
	background: transparent url(../images/smob/smob-primary.png) no-repeat top center;
	background-size: cover;
}

.smob-menu .menu{
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

.smob-menu .menu .menu-img{
	margin-bottom: 30px;
	background-color: rgba(0,0,0,0.7);
	padding:10px;
}

.smob-menu .menu ul li a{
	font-size: 28px;
	font-weight: bolder;
	padding:10px 10px 5px;
	display: block;
	letter-spacing: 3px;
}


.smob .featherlight .featherlight-content{
	max-width: 100%;
	margin:0 auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 100%; 
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-top: 30px;
}

.smob .featherlight .featherlight-content .featherlight-inner{
	max-width: 100%;
	margin:0 auto;
}

.smob-header img{
	width: 100%;
}

.smob-body.single{
	text-align: center;
}
.smob-body.single img{
	width: 90%;
	height: 90%;
	margin:0 auto;
}

.accordion {
  list-style: none;
  padding: 0;
}
.accordion .inner {
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  display: none;
}
.accordion .inner.show {
  /*display: block;*/
}
.accordion li {
  margin: .5em 0;
}
.accordion li a.toggle {
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
  text-align: center;
}

.accordion li a.faketoggle {
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
  text-align: center;
}

.accordion li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

.none{
	display: none !important;
}

.accordion .inner .text-conts{
	text-align: center;
}

.accordion .inner .text-conts h1{
	font-size: 18px;
	font-weight: bold;
}

.accordion .inner .text-conts h1 span{
	color: black;
}
.accordion .inner .videos{
	text-align: center;
}

.accordion .inner .videos img{
	width: 50%;
	height: 30%;
}

.accordion .inner li a{
	display: block;
	text-align: center;
}

.accordion .inner li a img{
	width: 90%;
	height: 90%;
	text-align: center;
	margin:0 auto;
	border:3px solid #000;
}

.bullets{
	list-style: disc;
	padding: 10px;
	margin: 10px 20px 10px; 
}

.accordion .inner .title{
	font-weight: bolder;
	font-size: 24px;
    color: #ff4885;
    text-shadow: -3px 3px 5px #000000;
}

.accordion .inner.bullets span{
	font-size: 20px;
    color: #ff4885;
    text-shadow: -3px 3px 5px #000000;
    display: block;
}

.accordion .inner.bullets a{
	display: inline;
}

.accordion .center{
	text-align: center;
}

.accordion .center h2{
	font-size: 18px;
	font-weight: bolder;
	margin-bottom: 10px;
}

.accordion .center span{
    color: #ff4885;
}

.accordion .center .details{
	font-size: 18px;
}














