@import url('reset.css');

body{
	background:#000;
	color:#fff;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	overflow: hidden;
}
a{
	color:#fff;
	text-decoration:none;
}

.landing{
	width: 100%;
	height: 100vh;
	background:#000 ;
	z-index: 998;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.landing .screencover{
	width: 1200px;
	height: 700px;
	background: #000 url(../images/landing-bg2.jpg) no-repeat top left;
	background-size: cover;
	position: relative;
}

.landing .screencover > a{
	display: block;
	width: 60px;
	height: 35px;
	position: absolute;
    bottom: 50%;
    left: 10%;
}


.landing .screencover > a img{
	width: 100%;
	height: 100%;
}

.landing .screencover .social{
	position: absolute;
	bottom: 50px;
	right: 185px;
}

.landing .screencover .social ul li{
	display: inline-block;
	margin-right: 15px;
}

.landing .screencover .social ul li a{
	display: block;
	width: 50px;
	height: 50px;
}

.landing .screencover .social ul li a img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 15px 4px rgba(230,230,230,0.7);
	-moz-box-shadow: 0px 0px 15px 4px rgba(230,230,230,0.7);
	box-shadow: 0px 0px 15px 4px rgba(230,230,230,0.7);
}

.landing .screencover .gallery-view{
	width: 200px;
	height: 150px;
	position: absolute;
	right: 382px;
    top: 302px;
    text-align: center;
}

.landing .screencover .gallery-view .box{
	width: 75px;
    height: 25px;
    margin: 0 auto 10px;
    position: relative;
}

.landing .screencover .gallery-view a{
	opacity: 0;
    transition: all 0.5s ease;
}

.landing .screencover .gallery-view .box div{
	width: 15px;
	height: 15px;
	margin: 0 auto;
	background: #f5f933;
    transition: all 0.5s ease;
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
}

.landing .screencover .gallery-view:hover .box div{
	width: 75px;
	height: 2px;
}

.landing .screencover .gallery-view:hover a{
	opacity: 1;
}

img.ac_bgimage{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	display:none;
}
.ac_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
}
.ac_loading{
	position:fixed;
	background:#000 url(../images/loader.gif) no-repeat center center;
	width:50px;
	height:50px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px 10px 10px 10px;
	z-index:999;
	opacity:0.7;
	display:none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ac_content{
	position:fixed;
	height:90px;
	width:100%;
	top:65px;
	left:0px;
	margin-top:-65px;
}
.ac_content h1{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+69 */
	background: #0e0e0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e0e0e 0%, #7d7e7d 69%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0e0e0e 0%,#7d7e7d 69%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0e0e0e 0%,#7d7e7d 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */

	display:block;
	width:0;
	font-size:36px;
	font-weight:bold;
	line-height:20px;
	margin-right:1px;
	text-align: center;
	overflow: hidden;
	text-indent: -9999px;
}
.ac_content h1 a{
	background: transparent url(../images/primary-logo-pb.png) no-repeat center bottom;
	background-size: contain;
	display: block;
	width: 100%;
	height: 240px;
}
.ac_menu{
	padding-top: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+51,0e0e0e+51 */
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 51%, #0e0e0e 51%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 51%,#0e0e0e 51%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 51%,#0e0e0e 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */


	position:relative;
	height:100vh;
	width:0px; 
}
.ac_menu > ul{
	height: 100%;
}
.ac_menu > ul > li{
	text-align: center;
	position:relative;
	overflow:hidden;
	padding:5px 20px 0px 20%;
}
.ac_menu > ul > li > a{
	margin-top:60px;
	opacity:0;
	display:block;
	text-align:left;
	outline:none;
	font-size:24px;
	font-weight:bold;
	text-shadow:1px 1px 1px #000;
	padding:5px 5px 5px 25px;
	text-shadow: -3px 2px 3px #000000;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.ac_menu > ul > li > a:hover{
	background-color: #7b1351;
}

.ac_subitem{
	width:75%;
	height:0px; /* animate to 100% */
	right:0px;
	margin-top:0px; /* animate to -200px */
	position:fixed;
	z-index:99;
	top: 200px;
	overflow:hidden;
}

span.ac_close{
	margin:10px;
	width:34px;
	height:34px;
	cursor:pointer;
	background:transparent url(../images/close.png) no-repeat top left;
	opacity:0.4;
	position: absolute;
	display: block;
	right: 0;
}
span.ac_close:hover{
	opacity:1.0;
}
.ac_footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	font-size:13px;
	background:#000;
	opacity:0.9;
	height:20px;
	padding-bottom:5px;
}
.ac_footer a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	float:right;
}
.footer a:hover{
	color:#fff;
}
.ac_footer a span{
	font-weight:bold;
}
.ac_footer a.ac_left{
	float:left;
}

.about-head{
	width: 100%;
	height: 150px;
	background-color: #fff;
}

.about-head.left-align{
	text-align: left;
}

.about-head.left-align > img{
	width: 100%;
}


.about-head > img{
	height: 100%;
}

.about-body{
	width: 75%;
	height: 70%;
	margin:0 auto;
}
.about-body > img{
	width: 100%;
	height: 100%;
}


.kwicks {
	height: 80%;
}
.kwicks > li {
	height: 100%;
	padding-top: 3%;
}

/*.kwicks > li a{
	display: block;
	height: 60%;
}*/

.panel1{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d6f91+0,7abcde+97 */
	background: #2d6f91; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d6f91 0%, #7abcde 97%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2d6f91 0%,#7abcde 97%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2d6f91 0%,#7abcde 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6f91', endColorstr='#7abcde',GradientType=0 ); /* IE6-9 */
}

.panel2{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70910c+0,bdde59+100 */
	background: #70910c; /* Old browsers */
	background: -moz-linear-gradient(top,  #70910c 0%, #bdde59 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #70910c 0%,#bdde59 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #70910c 0%,#bdde59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70910c', endColorstr='#bdde59',GradientType=0 ); /* IE6-9 */
}

.panel3{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f4fb2+0,be9bff+100 */
	background: #6f4fb2; /* Old browsers */
	background: -moz-linear-gradient(top,  #6f4fb2 0%, #be9bff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #6f4fb2 0%,#be9bff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6f4fb2 0%,#be9bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f4fb2', endColorstr='#be9bff',GradientType=0 ); /* IE6-9 */
}

.panel4{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c4eb2+0,7a9cfe+100 */
	background: #2c4eb2; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c4eb2 0%, #7a9cfe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2c4eb2 0%,#7a9cfe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2c4eb2 0%,#7a9cfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4eb2', endColorstr='#7a9cfe',GradientType=0 ); /* IE6-9 */
}

.panel5{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ad6b1f+0,fbb96d+100 */
	background: #ad6b1f; /* Old browsers */
	background: -moz-linear-gradient(top,  #ad6b1f 0%, #fbb96d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ad6b1f 0%,#fbb96d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ad6b1f 0%,#fbb96d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad6b1f', endColorstr='#fbb96d',GradientType=0 ); /* IE6-9 */
}

.panel6{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c7557+0,7bcec6+100 */
	background: #2c7557; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c7557 0%, #7bcec6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2c7557 0%,#7bcec6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2c7557 0%,#7bcec6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7557', endColorstr='#7bcec6',GradientType=0 ); /* IE6-9 */
}

.panel7{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b1a600+0,ffff3d+100 */
	background: #b1a600; /* Old browsers */
	background: -moz-linear-gradient(top,  #b1a600 0%, #ffff3d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b1a600 0%,#ffff3d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b1a600 0%,#ffff3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1a600', endColorstr='#ffff3d',GradientType=0 ); /* IE6-9 */
}

.panel8{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b0c39+0,a85988+100 */
	background: #5b0c39; /* Old browsers */
	background: -moz-linear-gradient(top,  #5b0c39 0%, #a85988 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #5b0c39 0%,#a85988 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #5b0c39 0%,#a85988 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b0c39', endColorstr='#a85988',GradientType=0 ); /* IE6-9 */
}

.panel9{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f4f0e+0,7b9b5a+100 */
	background: #2f4f0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2f4f0e 0%, #7b9b5a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2f4f0e 0%,#7b9b5a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2f4f0e 0%,#7b9b5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4f0e', endColorstr='#7b9b5a',GradientType=0 ); /* IE6-9 */
}

.kwicks {
	display: block;
	list-style-type: none;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks > * {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.kwicks.kwicks-processed > * {
	margin: 0;
	position: absolute;
}
.kwicks-horizontal > * {
	float: left;
}
.kwicks-horizontal > :first-child {
	margin-left: 0;
}
.kwicks-vertical > :first-child {
	margin-top: 0;
}

.kwicks > li{
	padding-left: 30px;
}

.kwicks > li:hover .caption, .kwicks .kwicks-expanded .caption, .kwicks .kwicks-selected .caption{
	max-width: 90%;
}

.kwicks > li .caption{
	margin-left: -30px !important;
}

.kwicks > li .conts{
	height: 350px;
	width: 500px;
	margin:0 auto;
}

.kwicks > li .conts.with-text{
	width: 700px;
}

.kwicks > li .conts.with-text.scrollable{
	overflow-y: scroll;
	text-align: left;
	width: 700px;
	padding-left: 50px;
}

.kwicks > li .conts.with-text.scrollable ul{
	width: 100%;
}

.kwicks > li .conts.with-text.scrollable h4{
	font-size: 32px;
	font-weight: bolder;
	color: #ff4885;
	text-shadow: -3px 3px 5px #000000;
	padding-left: 30px;
}

.kwicks > li .conts.with-text.scrollable ul{
	margin-top: 20px;
}

.kwicks > li .conts.with-text.scrollable ul li{
	font-weight: bolder;
	font-size: 18px;
	background: transparent url("../images/bullet.png") no-repeat center left;
}

.kwicks > li .conts.with-text.scrollable ul li span{
	font-size: 20px;
	color: #990033;
	display: block;
}

.kwicks > li .conts.with-text.scrollable ul li{
	padding:5px 30px;
	color: #000;
	background: transparent ()
}


.kwicks > li .conts a.thumb{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.kwicks > li .conts .thumb img{
	width: 100%;
	height: 100%;
}

.kwicks > li .caption{
	margin-top: 30px;
	height: 60px;
	text-align: right;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28343b+0,28343b+0,828c95+55,b5bdc8+94 */
	background: #28343b; /* Old browsers */
	background: -moz-linear-gradient(top,  #28343b 0%, #28343b 0%, #828c95 55%, #b5bdc8 94%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #28343b 0%,#28343b 0%,#828c95 55%,#b5bdc8 94%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #28343b 0%,#28343b 0%,#828c95 55%,#b5bdc8 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */
	
}

.kwicks > li .conts .vid img{
	width: 150px;
	margin-bottom: 20px;
}

.kwicks > li:hover .caption, .kwicks .kwicks-expanded .caption, .kwicks .kwicks-selected .caption{
	margin-right: 20px !important;
	-webkit-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
}

.kwicks > li:hover .caption p, .kwicks .kwicks-expanded .caption p, .kwicks .kwicks-selected .caption p {
	max-height: 1000px !important;
	opacity: 1 !important;
	-webkit-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
}

.kwicks .kwicks-selected.kwicks-collapsed{
	margin-left: 0 !important;
}

.kwicks .kwicks-selected.kwicks-collapsed .caption{
	-webkit-border-radius: 0 0 0 0; 
	border-radius: 0 0 0 0; 
	margin-right: 0 !important;
}

.kwicks .kwicks-selected.kwicks-collapsed .caption p{
	max-height: 0 !important;
	opacity: 0 !important;
}

.kwicks > li .caption p{
	max-height: 0;
	overflow: hidden;
	padding:10px 30px 0;
	font-size: 28px;
	opacity: 0;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	text-shadow: -3px 3px 5px #000000;
}
.kwicks > li .conts ul li{
	overflow: hidden;
}

.kwicks > li .conts .desc{
	text-align: left;
	color: #000;
	float: left;
}

.kwicks > li .conts > ul li div{
	display: inline-block;
	vertical-align: middle;
}

.kwicks > li .conts > ul{
	width: 75%;
	float: left;
}

.kwicks > li .conts > ul.vid{
	width: 25%;
}

.kwicks > li .conts > ul li .desc{
	font-weight: bold;
	padding-left: 120px;
}

.kwicks > li .conts > ul li .desc.pix-booth{
	background: transparent url("../images/bp-pix.png") no-repeat left 15px center;
	background-size: 75px 75px;
}

.kwicks > li .conts > ul li .desc.draw-booth{
	background: transparent url("../images/bp-draw.png") no-repeat left 15px center;
	background-size: 75px 75px;
}

.kwicks > li .conts > ul li .desc.share-booth{
	background: transparent url("../images/bp-share.png") no-repeat left center;
	background-size: 107px 75px;
}

.kwicks > li .conts > ul li .desc.sign-booth{
	background: transparent url("../images/bp-sign.png") no-repeat left 15px center;
	background-size: 75px 75px;
}


.kwicks > li .conts > ul li .desc h4{
	font-weight: bold;
	text-shadow:1px 1px 1px #000;
	font-size: 28px;
}
.kwicks > li .conts > ul li .desc h4 span{
	color: #fff;
}

.kwicks > li .conts.with-text.contacts{
	position: relative;
	top: 50px;
}

.kwicks > li .conts.with-text.contacts h2{
	font-size: 40px;
	text-shadow:1px 1px 1px #000;
	margin-bottom: 30px;
}

.kwicks > li .conts.with-text.contacts p{
	color: #000;
	font-weight: bolder;
	font-size: 18px;
}

.kwicks > li .conts.with-text.contacts p span{
	color:#990033;
}

.kwicks > li .conts.with-text.contacts p span.details{
	color: #fff;
	font-size: 24px;
	text-shadow:1px 1px 1px #000;
	display: block;
	margin-top: 30px;
}


.kwicks > li .conts.album a{
	display: block;
	width: 450px;
	height: 300px;
	margin:0 auto;
}


.kwicks > li .conts.album a img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.kwicks.gall > li .conts{
	transition: all 0.5s ease;
}

.kwicks.gall > li.kwicks-expanded .conts, .kwicks.gall > li.kwicks-selected .conts {
	margin-left: auto;
}

.kwicks .all > .conts.album{
	width: 100%;
    margin-top: -43px;
    margin-left: -31px !important;
    height: 643px;
}

.kwicks .all > .conts.album > a {
	width: 100%;
	height: 100%;
}

.kwicks .all > .caption{
	margin-top: 0;
}

.kwicks > li.all:hover .caption, .kwicks .kwicks-expanded.all .caption, .kwicks .kwicks-selected.all .caption{
	margin-top: 0;
}

.home-btn{
	position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    width: 100px;
    height: 75px;
}

.home-btn a{
display: block;
    width: 100%;
    height: 100%;
}

.home-btn a img{
    width: 100%;
    height: 100%;
}





@media only screen and (min-width: 1440px){
	.landing .screencover{
		width: 1440px;
		height: 800px;
		
	}


	.landing .screencover .gallery-view{
		right: 510px;
	    top: 350px;
	}

	.ac_content h1 a{
		background-image: url(../images/primary-logo2.png);
	}

	.ac_menu > ul > li > a{
		font-size: 36px;
	}

	.kwicks > li .conts{
		height: 500px;
		width: 650px;
	}
	
	.kwicks > li .caption{
		margin-top: 100px;
	}

	.kwicks > li:hover .caption, .kwicks .kwicks-expanded .caption, .kwicks .kwicks-selected .caption{
		margin-top: 100px;
	}

	.kwicks > li .conts.with-text.scrollable ul li{
		font-size: 24px;
	}

	.kwicks > li .conts.with-text.scrollable ul li span{
		font-size: 26px;
	}

	.kwicks > li .conts.with-text.contacts h2{
		font-size: 40px;
	}

	.kwicks > li .conts.with-text.contacts p{
		font-size: 28px;
	}

	.kwicks > li .conts.with-text.contacts p span.details{
		font-size: 32px;
	}

	.kwicks > li .conts ul li {
		margin-bottom: 20px;
	}

	.kwicks > li .conts.album a{
		width: 680px;
		height: 450px;
	}
	
	.kwicks.gall > li .conts{
		margin-left: 30px;
	}

	.kwicks > li .conts.with-text.contacts{
		position: relative;
		top: 120px;
	}

}

@media only screen and (min-width: 1600px){
	.landing .screencover{
		background: #000 url(../images/landing-bg-large.jpg) no-repeat top left;
		background-size: initial;
		width: 1920px;
	}

	.kwicks > li.booths .conts{
		margin-top: 70px;
	}

	.kwicks > li.booths .caption{
		margin-top: 30px;
	}

	.kwicks > li.booths:hover .caption, .kwicks .kwicks-expanded.booths .caption, .kwicks .kwicks-selected.booths .caption{
		margin-top: 30px;
	}

	.landing .screencover > a{
		left: 23%;
	}

	.landing .screencover .gallery-view{
		right: 730px;
	    top: 350px;
	}
}













